/* Header */
main {
  grid-area: header;
}
.container {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.wrapper {
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}


main {
    text-align: center;
    background-image: url('../images/TheBeach.jpg');
    background-size: cover;
  }
  
  h1 {
    padding-top: 185px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-align: center;
    color: #ffffff;
    margin: auto;
  }
  
  h3 {
    font-family: Work Sans;
    font-weight: 500;
    line-height: 1.29;
    color: #27c19e;
    padding-left: 5px
  }
  
  p {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.36;
    text-align: left;
    color: #4a4a4a;
    padding-left: 5px;
  }
  
  img {
    margin-top: 20px;
  }
  
  form {
    margin-top: 50px;
    height: 100px;
  }
  
  
  /* Main Body */
  .container {
    visibility: hidden;
    /* grid-row: 2; */
  }

  .sectiontitle h2 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3.4px;
    text-align: center;
    color: #4a4a4a;
  }

  .sectiontitle1 {
    /* grid-column: 3; */
    /* grid-row: 1; */
  }

  #currentWeather, #weather, #destination {
    display: grid;
    align-self: center;
    justify-content: center;
  }

  .sectiontitle2 {
    /* grid-column: 3; */
    /* grid-row: 3; */
  }

  #weather1 {
    grid-column: 1;
  }
  #weather2 {
    grid-column: 2;
  }
  #weather3 {
    grid-column: 3;
  }
  #weather4 {
    /* grid-column: 4; */
  }
  #weather5 {
    /* grid-column: 5; */
  }

  .weather {
    width: 200px;
    /* height: 300px; */
    margin: 1em;
    padding: 5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  
  .weather h2 {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 0.78;
    text-align: left;
    color: #4a4a4a;
    padding: 5px;
  }
  
  .weathericon {
    width: 200px;
    height: 200px;
  }
  
  #weather, #currentWeather, #destination {
    min-height: 350px;
  }
  
  #city {
    width: 286px;
    height: 46px;
    border-radius: 4px;
    border: solid 2.5px #ffffff;
    background-color: inherit;
    opacity: 0.73;
    font-family: Source Sans Pro;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.4px;
    text-align: left;
    color: #fff;
  }
  
  #button {
    width: 140px;
    height: 46px;
    border-radius: 4px;
    background-color: #27b7c1;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 600;
    line-height: 0.94;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  }
  
  @media (max-width: 860px) {
    main {
      background-image: url('../images/TheBeach.jpg');
      height: 500px;
    }
    #weather, #currentWeather {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .weather {
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      width: 95%;
      align-items: center;
    }
  
    .sectiontitle, .sectiontitle h2, #destination {
      margin: auto;
      text-align: center;
    }
  }
  